<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출석 및 대기 조회</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/attendance.css">
</head>

<body>
    <div class="container">
        {% include 'components/attendance/header.html' %}
        {% include 'components/attendance/tabs.html' %}
        {% include 'components/attendance/waiting_status.html' %}
        {% include 'components/attendance/status.html' %}
        {% include 'components/attendance/individual.html' %}
        {% include 'components/attendance/new_members.html' %}
        {% include 'components/attendance/ranking.html' %}
    </div>

    {% include 'components/attendance/modals/attendance_detail.html' %}

    <script src="/static/js/attendance.js"></script>
</body>

</html>